.prop {
  background: #4c95c9;
  color: #fff;

  /* border-left: 1px solid #ccc; */
  line-height: 60px;
  padding: 0 10px;
}
.id {
  width: 45px;
  padding-left: 5px;
}
.name {
  transform: translate(-1px, 0px);
  width: 285px;
  padding-left: 5px;
}
.adress {
  transform: translate(-2px, 0px);
  width: 250px;
  padding-left: 5px;
}
.phone {
  transform: translate(-3px, 0px);
  width: 160px;
  padding-left: 5px;
}
.date {
  transform: translate(-4px, 0px);
  width: 190px;
  padding-left: 5px;
}
.print {
  transform: translate(-5px, 0px);
  width: 65px;
}

.lisProp {
  border-left: 1px solid #ccc;
  line-height: 90px;
  padding: 0 10px;
}
.id1 {
  width: 40px;
  padding-left: 5px;
}
.name1 {
  transform: translate(-1px, 0px);
  width: 255px;
  padding-left: 5px;
}
.address1 {
  transform: translate(3px, 0px);
  width: 230px;
  padding-left: 5px;
}
.phone1 {
  transform: translate(-3px, 0px);
  width: 145px;
  padding-left: 5px;
}
.date1 {
  transform: translate(-4px, 0px);
  width: 167px;
  padding-left: 5px;
}
.print1 {
  width: 65px;
}
